@(skier: Skier, skiArenas: java.util.List[Skiarena], openMeetings: Integer, doneMeetings: Integer)

    @main("Freezer - " +skier.getUsername) {

        <div data-role="page" id="home" >
            <script src="@routes.Assets.at("templates/application.js")" type="text/javascript"></script>

            <div data-role="header" >
                <a href="#viewMeetings" data-role="button" data-icon="info" >View Meetings</a>
                <h1>@skier.getFirstname()'s Freezer</h1>
                <a href="#createMeeting" data-role="button" data-icon="settings" >Search Meeting</a>
            </div>
            <div class="ui-content" >
                <table data-role="table" id="movie-table" data-mode="reflow" class="ui-responsive">
                    <tr>
                        <td>Current Location:</td>
                        <td colspan="2">
                            <select name="skiArena" id="skiArena" onchange="locationChanged(this.value)">
                                <option id="0" value=""></option>

                                @for(skiArena <- skiArenas) {
                                    <option id="@skiArena.getName()" value="@skiArena.getName()">@skiArena.getName()</option>
                                }
                                </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Freezers in <span id="curLoc"></span>:</td>
                        <td colspan="2" id="freezers"></td>
                    </tr>
                    <tr>
                        <td>Meetings:</td>
                        <td>Open: <span id="openMeetings">@openMeetings</span></td>
                        <td>Done: <span id="doneMeetings">@doneMeetings</span></td>
                    </tr>
                </table>
            </div>
            <div data-role="footer" >
                <a href="#" data-role="button" >Your AD here!</a>
            </div>
        </div>

        <div data-role="page" id="createMeeting" >
            <div data-role="header" >
                <a href="#viewMeetings" data-role="button" data-icon="info" >View Meetings</a>
                <h1>Search a new Meeting</h1>
                <a href="#home" data-role="button" data-icon="home" >Home</a>
            </div>
            <div class="ui-content" >
                <div class="ui-grid-a">
                    <div class="ui-block-a"><h2>Current Location:</h2><br><h2>Freezers in <span id="curLoc"></span>:</h2></div>
                    <div class="ui-block-b"><select name="skiArena" id="skiArena" onchange="locationChanged(this.value)">
                        <option id="0" value=""></option>

                        @for(skiArena <- skiArenas) {
                            <option id="@skiArena.getName()" value="@skiArena.getName()">@skiArena.getName()</option>
                        }
                    </select> <br> <span id="freezers">asfasf</span></div>

                </div>
                <div class="ui-grid-b">
                    <div class="ui-block-a"><h2>Meetings:</h2> </div>
                    <div class="ui-block-b">Open: 0</div>
                    <div class="ui-block-c">Done: 0</div>
                </div>
            </div>
            <div data-role="footer" >
                <a href="#" data-role="button" >Your AD here!</a>
            </div>

        </div>

        <div data-role="page" id="viewMeetings" >
            <div data-role="header" >
                <a href="#home" data-role="button" data-icon="home" >Home</a>
                <h1>@skier.getFirstname()'s Meetings</h1>
                <a href="#" data-role="button" data-icon="settings" >Search Meeting</a>
            </div>
            <div class="ui-content" >

            </div>
            <div data-role="footer" >
                <a href="#" data-role="button" >Your AD here!</a>
            </div>

        </div>
}