@(skier: Skier, allInterests : java.util.List[Interests], skiArenas: java.util.List[Skiarena], openMeetings: Integer, doneMeetings: Integer, meetings :java.util.List[Meeting])

    @main("Freezer - " +skier.getUsername) {

        <div data-role="page" id="home" data-theme="a" >
            <script type="text/javascript">
                var loggedInSkier = @skier.getId() ;
            </script>
            <div data-role="header" data-theme="a">
                <h1>@skier.getFirstname()'s Freezer</h1>
                <a href="javascript:logout()" data-type="button" data-icon="back">Log Out</a>
            </div>
            <div class="ui-content" data-theme="a" >

                <div data-role="navbar" >
                    <ul>
                        <li><a href="#" data-role="button" class="ui-btn-active" >Home</a></li>
                        <li><a href="#createMeeting" data-role="button" >Create Meeting</a></li>
                        <li><a href="#viewMeetings" data-role="button" >View Meetings</a></li>

                    </ul>
                </div>
                <div class="ui-body ui-body-a">
                    <div data-role="fieldcontain">
                        <label for="skiArena"><strong>Location:</strong></label>
                        <select name="skiArena" id="skiArena" onchange="locationChanged(this.value)">
                            <option id="0" value="">Select location...</option>

                            @for(skiArena <- skiArenas) {
                                @if(skier.getCurrent_location()!=null && skiArena == skier.getCurrent_location()){
                                    <option id="@skiArena.getName()" value="@skiArena.getName()" selected>@skiArena.getName()</option>
                                } else {
                                    <option id="@skiArena.getName()" value="@skiArena.getName()">@skiArena.getName()</option>
                                }
                            }
                        </select>
                        <script type="text/javascript">
                            $(document ).ready(function(){
                               @if(skier.getCurrent_location()!=null){
                                    locationChanged($("#skiArena").val());
                                }
                            });
                        </script>
                    </div>
                    <div data-role="fieldcontain">
                        <label for="username"><strong>Freezers in <span id="curLoc">...</span>:</strong></label>
                        <span name="freezers" id="freezers"></span>
                    </div>
                    <div data-role="fieldcontain">
                        <label for="meetings"><strong>Meetings:</strong></label>
                        <span  name="meetings" id="openMeetings" >Open: @openMeetings</span>
                        <span  name="meetings" id="doneMeetings" >Done: @doneMeetings</span>
                    </div>
                    <div data-role="fieldcontain" title="Change interests" >
                        <label for="interests"><strong>Interests:</strong></label>
                        <span  name="interests" id="interests" >@for(inter <- skier.getInterests){
                            @inter.getName(),
                        }</span>
                        <input type="button" value="Set Interests" onclick="changeInterestsHome()">
                    </div>
                    <form action="@routes.Application.searchSkier()" method="post" id="interests">
                        <input type="hidden" name="location" value="off">
                        <input type="hidden" name="interests_switch" value="on">

                        <div data-role="fieldcontain" id="interests_field_home" style="visibility: hidden;">
                        <Legend>Set your Interests</legend>
                        <fieldset data-role="controlgroup">
                        @for(inter <- allInterests){
                            <label>@inter.getName
                            <input type="checkbox" name="interest_@inter.getId" id="@inter.getId" class="custom" />
                            </label>
                        }
                        </fieldset>
                        <input type="button" value="Set" onclick="setInterests()">
                    </div>
                        </form>

                </div>
            </div>
            <div data-role="footer" data-theme="a">
                <a href="#" data-role="button" >Your AD here!</a>
            </div>
        </div>

        <div data-role="page" id="createMeeting" data-theme="a">
            <div data-role="header" >
                <h1>Search Skier</h1>
            </div>
            <div class="ui-content" data-theme="a">
                    <div data-role="navbar" >
                        <ul>
                            <li><a href="#home" data-role="button"  >Home</a></li>
                            <li><a href="#" data-role="button" class="ui-btn-active" >Create Meeting</a></li>
                            <li><a href="#viewMeetings" data-role="button" >View Meetings</a></li>

                        </ul>
                    </div>
                <div class="ui-body ui-body-a">
                    <form action="@routes.Application.searchSkier()" method="post" id="search_form">
                        <input type="hidden" name="all" value="true">
                        <div data-role="fieldcontain">
                            <label for="username">By Name:</label>
                            <input type="text" name="username" id="username" placeholder="Maximilian" />
                        </div>
                        <div data-role="fieldcontain">
                            <label for="birthdate_from">Minimum age:</label>
                            <input type="number" name="birthdate_from" id="birthdate_from" />
                            <label for="birthdate_from">Maximum age:</label>
                            <input type="number" name="birthdate_to" id="birthdate_to" />
                        </div>
                        <div data-role="fieldcontain">
                            <label for="location">Same Ski Arena:</label>
                            <select name="location" id="location" data-role="slider">
                                <option value="off">No</option>
                                <option value="on">Yes</option>
                            </select>
                        </div>
                        <div data-role="fieldcontain">
                            <label for="interests_switch">Interested in:</label>
                            <select name="interests_switch" id="interests_switch" data-role="slider" onchange="switchInterests();">
                                <option value="off">No</option>
                                <option value="on">Yes</option>
                            </select>
                        </div>
                        <div data-role="fieldcontain" id="interests_field" style="visibility: hidden;">
                                <Legend>Set your Interests</legend>
                                <fieldset data-role="controlgroup">
                                @for(inter <- allInterests){
                                    <label>@inter.getName
                                    <input type="checkbox" name="interest_@inter.getId" id="@inter.getId" class="custom" />
                                    </label>
                                }
                                </fieldset>
                            </div>

                        <input type="submit" value="Search">
                    </form>
                </div>
            </div>

            <div data-role="footer" data-theme="a" >
                <a href="#" data-role="button" >Your AD here!</a>
            </div>

        </div>

        <div data-role="page" id="viewMeetings" data-theme="a">
            <div data-role="header" >
                <h1>@skier.getFirstname()'s Meetings</h1>
            </div>
            <div class="ui-content" data-theme="a">

                    <div data-role="navbar" data-theme="a">
                        <ul>
                            <li><a href="#home" data-role="button" >Home</a></li>
                            <li><a href="#createMeeting" data-role="button" >Create Meeting</a></li>
                            <li><a href="#" data-role="button" class="ui-btn-active" >View Meetings</a></li>

                        </ul>
                    </div>
                    <div class="ui-body ui-body-a">
                        <ul data-role="listview" data-inset="true" id="meetingsList">
                            @for(meeting <- meetings){

                                <li data-role="list-divider">At @meeting.getDate.toLocaleString</li>
                                <li>
                                <p><strong>Lift: </strong>@meeting.getLift.getName</p>
                                <p><strong>With: </strong>
                                @for(partner <- meeting.getSkiers){
                                    @if(skier!=partner){
                                        @partner.getUsername
                                    }
                                }
                                    </p>

                                </li>
                            }
                        </ul>
                    </div>

            </div>
            <div data-role="footer" data-theme="a">
                <a href="#" data-role="button" >Your AD here!</a>
            </div>

        </div>


    <div data-role="page" id="skierList" data-theme="a">
        <div data-role="header" >
            <h1 id="number_of_skier"></h1>
        </div>
        <div class="ui-content" data-theme="a">

            <div data-role="navbar" data-theme="a">
                <ul>
                    <li><a href="#home" data-role="button" >Home</a></li>
                    <li><a href="#createMeeting" data-role="button" >Create Meeting</a></li>
                    <li><a href="#viewMeetings" data-role="button">View Meetings</a></li>

                </ul>
            </div>
            <div class="ui-body ui-body-a" >
                <ul data-role="listview" data-inset="true" id="skier_list">

                </ul>

            </div>
        </div>
        <div data-role="footer" data-theme="a">
            <a href="#" data-role="button" >Your AD here!</a>
        </div>

    </div>
}