@(user: Skier)

@main("Welcome to Freezer") {

    <div data-role="page" id="home" data-theme="c">
        <div data-role="header" data-theme="c">
            <a href="#" data-role="button" data-icon="back" data-theme="c">Quit</a>
            <h1>Welcome @user.getFirstname</h1>
            <a href="#" data-role="button" data-icon="settings" data-theme="c">Settings</a>
        </div>
        <div data-role="content" data-theme="c" style="text-align:center;">
            <img title="Wetta Logo isch des?" src="images/salewa.jpg" id="bild" width="80%"/>
            <div data-role="fieldcontain" id="navInputs">
                <input type="text" value="" id="inputfield" width="100%" />
                <div data-role="navbar" >
                    <ul>
                        <li><input type="button" id="check" value="Ischs des?"/></li>
                        <li><input type="button" id="tipp" value="Tipp?!" /></li>
                    </ul>
                </div>
            </div>
        </div>
        <div data-role="footer" data-theme="c">
            <a href="http://www.waldboth.com/werbung.php?app=logoquiz" data-role="button" data-theme="c">Do kannt deine Werbung sein!</a>
        </div>
    </div>


}
