@(loginResponse : String)

@main("Welcome to Freezer") {

    <div data-role="page" id="home" data-theme="a">
        <div data-role="header" data-theme="a">
            <h1>Welcome</h1>
        </div>
        <div class="ui-content" data-theme="a">
            <form action="@routes.Application.login()" method="post" data-ajax="false">
                <h2>Login</h2>
                @if(loginResponse != "") {
                    <p class="error">
                    @loginResponse
                    </p>
                }
                <div class="ui-body ui-body-a">
                <div data-role="fieldcontain">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" value="" placeholder="mustermax" />
                </div>
                <div data-role="fieldcontain">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" value="" placeholder="mustermaximilian" />
                </div>

                <div data-role="fieldcontain">
                    <label for="new_user">New User
                    <input type="checkbox" name="new_user" id="new_user"></label>
                </div>
                <input type="submit" value="Login">
                </div>
            </form>
        </div>
        <div data-role="footer" data-theme="a">
            <a href="#" data-role="button" >Your AD here!</a>
        </div>
    </div>


}
