@(username: String, password: String)


@main("Welcome "+ username ) {
  <div data-role="page" id="home" data-theme="a">
    <div data-role="header" data-theme="a">
      <h1>Welcome @username</h1>
    </div>
    <div class="ui-content" data-theme="a">
      <form action="@routes.Application.register()" method="post" data-ajax="false">
        <h2>We need some more Information..</h2>
        <div class="ui-body ui-body-a">
          <input type="hidden" name="username" id="username"  value="@username"/>
          <input type="hidden" name="password" id="password" value="@password" />

        <div data-role="fieldcontain">
          <label for="firstname">First Name:</label>
          <input type="text" name="firstname" id="firstname" tabindex="1" placeholder="Maximilian" />
        </div>
        <div data-role="fieldcontain">
          <label for="lastname">Last Name:</label>
          <input type="text" name="lastname" id="lastname" tabindex="2" placeholder="Mustermann" />
        </div>
        <div data-role="fieldcontain">
          <label for="birthdate">Birthdate:</label>
          <input type="date" name="birthdate" min="1900-00-00" max="2010-00-00" placeholder="2000-00-00" onkeyup="checkDate()" tabindex="3" id="birthdate">
        </div>
        <input type="submit" value="Register">
        </div>
      </form>
    </div>
    <div data-role="footer" data-theme="a">
      <a href="#" data-role="button" >Your AD here!</a>
    </div>
  </div>
}