@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="images/ico" href="@routes.Assets.at("images/favicon.ico")">
        <link rel="stylesheet" href="@routes.Assets.at("templates/jquerymobile.css")">
        <link rel="stylesheet" href="@routes.Assets.at("templates/jquerymobiletheme.css")">
        <link rel="stylesheet" href="@routes.Assets.at("templates/jquerymobileicons.css")">
        <script src="@routes.Assets.at("templates/jquery.js")" ></script>
        <script src="@routes.Assets.at("templates/jquerymobile.js")" ></script>
    </head>
    <body>
        @content
    </body>
</html>
