@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="images/ico" href="@routes.Assets.at("images/favicon.ico")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("templates/jquerymobilecss.css")">
        <script src="@routes.Assets.at("templates/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("templates/application.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("templates/jqerymobile.js")" type="text/javascript"></script>
    </head>
    <body>
        @content
    </body>
</html>
