@(loggedInSkier:Skier, otherSkier:Skier, lifts: java.util.List[Lift])
@main("Freezer - " +loggedInSkier.getUsername) {

<div role="dialog" id="meeting_dialog" data-them=a">

  <div data-role="header" data-theme="a" role="banner" class="ui-header ui-bar-a">
    <a role="button" href="#" class="ui-btn ui-corner-all ui-icon-delete ui-btn-icon-notext ui-btn-left">Close</a>
    <h1 class="ui-title" role="heading" aria-level="1">New Meeting</h1>

  </div>

  <div role="main" class="ui-content">
    <h1>Meeting with @otherSkier.getFirstname()</h1>
    <p>At witch Lift do you want to meet @otherSkier.getFirstname() and when?</p>
      <select name="lift" id="lift">
        <option id="0" value="">Select Lift...</option>

        @for(lift <- lifts) {
          <option id="@lift.getName()" value="@lift.getName()">@lift.getName() with @lift.getSeats() Seats.</option>
        }
      </select>
      <input type="hidden" name="otherSkier" id="otherSkier" value="@otherSkier.getId()"/>
      <input type="time" name="time" id="time" >
      <input type="submit" value="Request Meeting" onclick="postMeet()">
  </div>
</div>
}